body {
    font-family: 'Poppins', sans-serif;
font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .nav {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 0;
    z-index: 1;
    text-align: center;
  }
  
  .header-text {
    display: block;
    font-size: 24px;
    margin-top: 10px; 
  }
  
  .w-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
  
  .hero-section {
    text-align: center;
    padding: 40px;
  }
  
  .header-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .text-block {
    font-size: 24px;
    margin-top: 20px;
    color: #fff;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  